<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical and Predicted Prices</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <script>
        // Parse the JSON data passed from Flask
        //var symbolData = JSON.parse('{{ jdata | tojson | safe }}');
        
        // Access and manipulate the data as needed
        console.log(jdata);

    </script>
</body>
</html>
